/* testdiv/ */
.testdiv{
    margin: 0 auto;
    text-align: center;
}

/* testdiv */


/* index css */

#email, #pass, #name1{
    width: 250px;
    margin-top: 15px;
    height: 50px;
    outline: none;
}


#emaill, #passl{
    margin-top: 15px;
    margin-right: 15px;

}

.login-btn{
    width: 200px !important;
}


.logindiv1{
    margin: 0 auto;
    margin-top: 2%;
    padding-top: 5%;
    text-align: center;
    width: 500px;
    background-color: lightskyblue;
    border-radius: 20px;
}
table{
    margin: 0 auto;
}


/* index css finished*/






/* chat.html started */

.chatarea{
    margin: 0 auto;
    text-align: center;
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
    /* display: flex;     */
    /* text-align: center; */
    /* width: 300px; */
}

#onlinediv, #chatdiv{
    /* margin-top: 50px; */
    /* width: 400px; */
    /* height: 300px; */
    /* background-color: blue; */
    /* border: solid 1px black; */
    /* background: white; */
}

.onlineusers1{
    width: 400px;
    margin: 0 auto;
    font-weight: bold;


}


#users{
    width: 100%;
    /* height: 250px; */
}

select{
    background-color:lightblue;
    color: white;
    /* outline: none; */
    border-radius: 10px;
    
}
option{
    width: 400px;
    font-weight: bold;
}


#chats{
    /* width: 400px; */
    border: solid 1px black;
    height: 250px;
    background-color: white;
    overflow: scroll;
    background-color:lightblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.send-btn{
    width: 100px;
}

#chat{
    width: 400px;
    height: 40px;
    outline: none;
    margin-bottom: 5px;
}

.chatdatabse{
    font-size: 18px;
    
}

.messages{
    border-radius: 10px;
    
}